@import "tailwindcss";

html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #f3f4f7;
    background: linear-gradient(to right,#4C214B, #201C2D );
}

.box-shadow-style :hover{
    box-shadow: 0 0 3px rgba(144, 90, 201, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    transform: scale(1.05);
}